.profile-image-area{
    margin: 0 auto 20px;
    width: 100%;
    max-width: 180px;
}
.profile-image{
    border-radius: 100px;
    overflow: hidden;
    position: relative;
}
.profile-image span{
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    background-color: #fff;
    padding: 10px 20px;
    left: 0;
    text-align: center;
    opacity: 0.8;
    transition: all .35s;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    z-index: 1;
}
.profile-image:hover span{
    opacity: 0.9;
}
#profile_form p{
    margin-bottom: 0;
}
#profile_form  .row-field{
    margin-top: 10px;
}
#profile_form .field-form, #profile_pwd_form .field-form{
    width: 100%;
}