.authen-area{
    margin: 0 auto;
    display: block;
    width: auto;
    max-width: 350px;
    background-color: #fff;
    text-align: center;
    border-radius: 20px;
    padding: 20px 40px;
}
.authen-area h1{
    font-family: 'Amiko';
}
.authen-area .form-label{
    text-align: left;
    margin-bottom: 5px;
}
.authen-area .field-form{
    width: 100%;
}
.authen-area .field-form:focus{
    outline: none;
}
.authen-area.forget-password{
    max-width: 550px;
}