/*cover*/
.cover {
    background-image: url('/images/cover_hb.jpg') ;
    background-position-y: 0;
    background-color: #353535;
    width: 100%;
    height: 350px;
    position: relative;
}
.authen-cover{
    background-image: url('/images/cover_hb.jpg') ;
    background-position-y: 0;
    background-color: #353535;
    width: 100%;
    height: 100%;
    position: relative;
}
@media(max-width: 768px){
    .cover{
        height: auto;
        padding-bottom: 20px;
    }
}

/*navbar*/
.wrapper-yellow {
    max-width: 780px;
    /* height: 30%; */
    background: white;
    margin: auto;
    /* margin-bottom: -150px; */
    box-shadow: 0px 3px 9px #8080809e;
}
.navbar-custom {
    background-color: #ffffff00;
    color: white;
    font-family: 'Amiko';
    border-color: #e7e7e700;
}
.navbar-default .navbar-brand {
    color: #fff;
    padding-top: 30px;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #ffd647;
    background-color: transparent;
    font-weight: bolder;
}
.navbar-default .navbar-toggle {
    border-color: #ddd;
    margin-top: 22px;
}
.nav .profile-mobile{
    display: none;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
    border: none;
}
.navbar-custom {
    background-color: #ffffff00;
    color: white;
    font-family: 'Amiko';
    border-color: #e7e7e700;
}
.navbar-default .navbar-brand {
    color: #fff;
    padding-top: 30px;
}
.navbar-default .navbar-brand:hover{
    color: #fff;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #ffd647;
    background-color: transparent;
    font-weight: bolder;
}
.navbar-default .navbar-toggle, {
    border-color: #ddd;
    margin-top: 15px;
}
.nav-custom{
    background: white;
    color: black;
    
}
.nav-side{
    color:black;
    margin-bottom:10px;
}
.nav-pill-custom{
    border-radius: 4px;
    background: white;
    color: black;
    font-weight: 200;
    margin-bottom: 10px;
}
.nav-pills>li>a {
    background: white;
    color: black;
    margin-bottom: 10px;
    font-size: 16px;
    border-radius: 0px;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #ffd647;
    box-shadow: 3px 3px 3px #00000014;
}
.nav .profile{
    position: relative;
}
.nav .profile .desktop-nav{
    position: absolute;
    right: 0;
    border-radius: 8px;
    overflow: hidden;
    padding: 0;
    width: auto;
    min-width: 130px;
    display: none;
    transition: all .35s;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
}
.nav .profile .desktop-nav li{
    display: block;
    background-color: #ffd647;
    border-bottom: 1px solid #e8b600;
    transition: all .35s;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
}
.nav .profile .desktop-nav li:last-child{
    border-bottom: none;
}
.nav .profile .desktop-nav li:hover{
    background-color: #ffca0f;
}
.nav .profile .desktop-nav li>a{
    display: block;
    padding: 8px 20px;
    color: #000;
}
/*tablet size*/
@media(max-width: 992px){

}
/*mobile size*/
@media(max-width: 768px){
    .navbar-default .navbar-toggle{
        margin-top: 14px;
    }
    .navbar-default .navbar-brand {
        padding-top: 22px;
    }
    .nav .profile{
        display: none;
    }
    .nav .profile-mobile{
        display: block;
    }
    .nav .profile .desktop-nav{
        display: none;
    }
}

/*header content*/
.header-content{
    position: absolute;
    width: 100%;
    bottom: -150px;
}
.wrapper-yellow {
    max-width: 780px;
    background: white;
    margin: auto;
    box-shadow: 0px 3px 9px #8080809e;
}
.yellow {
    background: #FFE690;
    margin: auto;
    padding: 26px 33px;
}
.tb-ref{
    width: 100%;
}
.tb-ref td{
    padding: 2px 0;
}
.tb-ref .tb-ref-img{
    width: 70px;
    text-align: center;
}
.tb-ref .tb-ref-txt{
    width: auto;
    text-align: left;
}
.wrapper-yellow .navigation{
    background-color: #fff;
    padding-left: 15px;
    padding-right: 15px;
}
.profile-main{
    max-width:180px;
    margin: auto;
    width: 100%;
}
.profile_name{
    font-family: "Amiko";
    font-size: 24px;
    text-align: center;
    margin-top: 30px;
    text-transform: uppercase;
}
.coin, .point{
    max-width: 180px;
    height: 48px;
    background: rgba(255, 255, 255, 0.911);
    border-radius: 50px;
    margin: 40px auto;
}
.coin-no{
    font-family: 'Amiko';
    font-size: 20px;
    margin: 0;
    line-height: 1px;
}
@media(max-width: 992px){
    .header-content{
        padding: 0 15px; 
    }
    .coin, .point{
        margin: 20px auto;
    }
}
@media(max-width: 768px){
    .yellow{
        padding: 15px 10px;
    }
    .wrapper-yellow .navigation{
        display: none;
    }
    .header-content{
        position: initial;
    }
    .coin, .point{
        margin: 10px auto;
    }
    .profile-main{
        max-width: 120px;
    }
    .profile_name{
        margin-top: 18px;
        font-size: 18px;
    }
}

/*body part*/
.bg_content{
    background: #F5F5F5;
    margin: 177px auto 70px;
    box-shadow: 3px 3px 14px #8080806b;
    padding: 20px 50px 80px;
}
.content-header{
    font-family: 'Amiko';
    font-size: 25px;
    text-align: center;
    font-weight: 600;
    margin: 20px auto 40px;
    text-transform: uppercase;
}
.whitespace{
    width:1000px;
    height: 1000px;
    background: rgb(255, 255, 255);
    margin: 40px auto;
    padding: 30px;
}
.whitespace2{
    width: 100%;
    height : auto;
    background: white;
    padding : 30px 50px;
    text-align: left;
}
.content-detail{
    font-family: 'Amiko';
    font-size: 12px;
    text-align: center;
    margin: 20px;
}
.body-content li{
    font-family: 'Amiko';
}
.nav-pills>li>a{
    transition: all .35s;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
    background-color: #ffd647;
    color: #000;
    box-shadow: 3px 3px 3px #00000014;
}
@media(max-width: 768px){
    .body-content > .container{
        padding: 0;
    }
    .body-content > .container .bg_content{
        margin: 0;
        padding: 20px 15px 50px;
        box-shadow: none;
    }
    .left-content{
        display: none;
    }
    .whitespace2{
        padding: 20px 10px;
    }
}

/*component*/
.btn_custom{
    width: 95%;
    border-radius: 50px;
    border: none;
    background: #F5F5F5;
    font-family: 'Amiko';
    margin: 7px 0;
}
.btn-default:hover {
    color: #333;
    background-color: #ffd647;
    box-shadow: 3px 3px 5px #80808059;
    font-weight: bolder;
}
.btn-default.focus, .btn-default:focus {
    color: #333;
    background-color: #ffd647;
    box-shadow: 3px 3px 5px #80808059;
    font-weight: bolder;
}
.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default,
.btn-default.active:hover, .btn-default.active:focus {
    color: #333;
    background-color: #ffd647;
    box-shadow: 3px 3px 5px #80808059;
    font-weight: bolder;
}
.btn-success {
    color: #fff;
    background-color: #39BA12;
    border-radius: 50px;
    width: auto;
    font-family: 'Amiko';
    font-weight: 700;
    box-shadow: 3px 3px 3px #80808061;
    padding: 4px 35px;
}
.btn{
    border-radius: 50px;
    text-align: center;
    width: 100%;
    transition: all .35s;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
}
.btn:hover, .btn:focus, .btn:active,
.btn.active.focus, .btn.active:focus,
.btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus{
    outline: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.btn-primary{
    background-color: #ffd647;
    color: #333;
    border-color: #ffd647;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active,
.btn-primary.active.focus, .btn-primary.active:focus,
.btn-primary.active:hover, .btn-primary:active.focus,
.btn-primary:active:focus, .btn-primary:active:hover{
    border-color:   #ffd647;
    background-color: #ffca0f;
    color: #333;
}
.btn-fb{
    background-color: #4267b2;
    border-color: #4267b2;
    color: #fff;
}
.btn-fb:hover, .btn-fb:focus, .btn-fb:active{
    background-color: #3b5998;
    border-color: #3b5998;
    color: #fff;
}
.field-form{
    background-color: #f5f5f5;
    padding: 10px 15px;
    border-radius: 25px;
    border: none;
    margin-bottom: 10px;
}
.field-form:focus{
    outline: none;
}
.require{
    color: red;
}

.recommend{
    width:90%;
    height: 1000px;
    background: white;
    box-shadow: 3px 3px 3px #80808061;
    border-radius: 20px;
}



.wishcard{
    width: 458px;
    height: 280px;
    /* background-image: url(../../img/card_bg.jpg); */
    background: white;
    border-radius: 33px;
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
    box-shadow: 3px 3px 11px #cecece;
    padding: 50px;

}

/* .profile-pic{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: url('../../img/profile.jpg');
    margin: auto;
    
} */

.blog{
    width: 84%;
    height: auto;
    padding: 8px 25px;
    background: #F5F5F5;
    border-radius: 50px;
    margin-bottom: 23px;
    

}
