/*order list*/
.order-empty{
    text-align: center;
}
.order-empty img{
    max-width: 180px;
    margin: 0 auto;
}
.table-head, .table-body{
    text-align: center;
}
.table-head{
    width: auto;
    background-color: #ffe69066;
    border-radius: 50px;
    margin: 0 -15px;
    padding: 10px 0px;
    margin-bottom: 20px;
}
.table-head h4{
    margin: 5px 0;
}
.table-footer{
    text-align: right;
}
.table-footer p{
    margin-top: 10px;
}
.text-mobile{
    font-weight: bold;
    display: none;
}
.first-col{
    text-align: left;
}
.table-head .first-col{
    padding-left: 30px;
}
.last-col{
    text-align: right;
}
.table-head .last-col{
    padding-right: 30px;
}
@media(max-width: 768px){
    .table-head{
        display: none;
    }
    .table-body{
        text-align: left;
    }
    .order-detail .total-price{
        text-align: right;
    }
    .text-mobile{
        display: inline;
    }
    .order-detail .total-price span{
        float: left;
    }
    .table-head .first-col{
        padding-left: 15px;
    }
    .table-head .last-col{
        padding-right: 15px;
    }
}