<% block('localTitle', metadata.title) %>
<% block('localStyles', '<link href="/styles/account.css?v=1.1" rel="stylesheet">') %>
<h2 class="content-header">My Account</h2>
<div class="row">
<!-- left side content area -->
<div class="col-sm-3 left-content">
    <ul class="nav nav-pills nav-stacked text-left ">
        <li <% if (page_name == 'card') { %>class="active"<% } %> role="presentation">
            <a href="#">My Card</a>
        </li>
        <li <% if (page_name == 'profile' || page_name == 'change_password') { %>class="active"<% } %> role="presentation">
            <a href="#">My Profile</a>
        </li>
        <li <% if (page_name == 'address') { %>class="active"<% } %> role="presentation">
            <a href="#">My Address</a>
        </li>
        <li <% if (page_name == 'coin') { %>class="active"<% } %> role="presentation">
            <a href="#">Coin</a>
        </li>
        <li <% if (page_name == 'point') { %>class="active"<% } %> role="presentation">
            <a href="#">Point</a>
        </li>
    </ul>
</div>
<!-- right side content area -->
<div class="col-sm-9 col-xs-12 right-content">
    <div class="whitespace2">
        <%- partial(page_name)%>
    </div>
</div>