<form id="profile_pwd_form" method="post" action="/profile/password">
    <h3>Change your password</h3>
    <p><br></p>
    <div class="row row-field">
        <div class="col-sm-3">
            <p class="form-label">Current password <span class="require">*</span></p>
        </div>
        <div class="col-sm-9">
            <p><input class="current_pwd_form field-form" placeholer="Current password" type="password" autofocus required></p>
        </div>
    </div>
    <div class="row row-field">
        <div class="col-sm-3">
            <p class="form-label">New password <span class="require">*</span></p>
        </div>
        <div class="col-sm-9">
            <p><input class="new_pwd_form field-form" placeholer="New password" type="password" required></p>
        </div>
    </div>
    <div class="row row-field">
        <div class="col-sm-3">
            <p class="form-label">Confirm password <span class="require">*</span></p>
        </div>
        <div class="col-sm-9">
            <p><input class="confirm_pwd_form field-form" placeholer="Confirm password" type="password" required></p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-4 col-sm-4">
            <button class="btn btn-primary" type="submit">Save</button>
        </div>
    </div>
</form>

<% block('localScripts', '<script src="/js/profile.js?v=1.1"></script>') %>