<% block('localTitle', 'Forget Password') %>
<% block('localStyles', '<link href="/styles/authen.css?v=1.1" rel="stylesheet">') %>

<div class="authen-area forget-password">
    <h1>Forget password</h1>
    <form id="forget_form" method="post" action="/forget-password">
        <p class="form-label"><span>Fill in your email to reset password:</span></p>
        <p><input class="field-form email_form" type="email" name="email" placeholder="Email" required autofocus></p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
    </form>
</div>
<% block('localScripts', '<script src="/js/authen.js?v=1.1"></script>') %>