<% block('localTitle', 'Login') %>
<% block('localStyles', '<link href="/styles/authen.css?v=1.1" rel="stylesheet">') %>

<div class="authen-area">
    <h1>Login</h1>
    <form id="login_form" method="post" action="/login">
        <p class="form-label"><span>Email:</span></p>
        <p><input class="field-form email_form" type="email" name="email" placeholder="Email" required autofocus></p>
        <p class="form-label"><span>Password:</span></p>
        <p><input class="field-form password_form" type="password" name="password" placeholder="Password" required></p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    </form>
    <br>
    <p style="margin-bottom: 0;">Or</p>
    <br>
    <p><a class="btn btn-fb btn-lg" href="#">Facebook Login</a></p>
    <p><a href="/forget-password">Forget password</a></p>
    <hr>
    <p>Don't have account? <a href="/register">register here</a></p>
</div>
<% block('localScripts', '<script src="/js/authen.js?v=1.1"></script>') %>