<% block('localTitle', metadata.title) %>
<% block('localStyles', '<link href="/styles/order.css?v=1.1" rel="stylesheet">') %>
<h2 class="content-header">Order history</h2>
<div class="whitespace2">
    <%- partial(page_name)%>
</div>