<% let detail = order_detail.order_detail %>
<div class="table-head">
    <div class="row">
        <div class="col-md-6 col-sm-4 first-col">
            <h4>Product</h4>
        </div>
        <div class="col-md-2 col-sm-2">
            <h4>Qty</h4>
        </div>
        <div class="col-md-2 col-sm-3">
            <h4>Unit Price</h4>
        </div>
        <div class="col-md-2 col-sm-3 last-col">
            <h4>Total Price</h4>
        </div>
    </div>
</div>
<div class="table-body order-detail">
<% for (var i=0;i<detail.length;i++) { %>
    <div class="row">
        <div class="col-md-6 col-sm-4 first-col">
            <p><b><%=detail[i].pos_product_name%></b></p>
        </div>
        <div class="col-md-2 col-sm-2">
            <p><span class="text-mobile">Qty: </span><%=detail[i].quantity%></p>
        </div>
        <div class="col-md-2 col-sm-3">
            <p><span class="text-mobile">Unit Price: </span>฿ <%=detail[i].product_price.toFixed(2)%></p>
        </div>
        <div class="col-md-2 col-sm-3 last-col">
            <p class="total-price"><span class="text-mobile">Total Price: </span>฿ <%=detail[i].total.toFixed(2)%></p>
        </div>
    </div>
    <hr>
<% } %>
</div>
<div class="table-footer">
    <div class="row">
        <div class="col-md-9 col-sm-8 col-xs-7">
            <h4>Location</h4>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-5">
            <p>Home Bar 67</p>
        </div>
    </div>
    <% let month_list = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']%>
    <% let order_date = new Date(order_detail.createdAt); %>
    <div class="row">
        <div class="col-md-9 col-sm-8 col-xs-7">
            <h4>Order date</h4>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-5">
            <p><%=order_date.getDate() %> <%=month_list[order_date.getMonth()] %>, <%=order_date.getFullYear() %></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9 col-sm-8 col-xs-7">
            <h4>Total Products</h4>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-5">
            <p>฿ <%=order_detail.total_without_discount.toFixed(2)%></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9 col-sm-8 col-xs-7">
            <h4>Total Discount</h4>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-5">
            <p>฿ <%=order_detail.total_discount.toFixed(2)%></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9 col-sm-8 col-xs-7">
            <h4>Total (VAT Excl)</h4>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-5">
            <p>฿ <%=order_detail.total_without_discount.toFixed(2)%></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9 col-sm-8 col-xs-7">
            <h4>VAT (7%)</h4>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-5">
            <p>฿ <%=order_detail.total_tax.toFixed(2)%></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9 col-sm-8 col-xs-7">
            <h2>Total</h2>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-5">
            <h2>฿ <%=order_detail.total.toFixed(2)%></h2>
        </div>
    </div>
</div>

<p><br></p>
<p><a href="/order"><< Back</a></p>