<% if (order_list.length === 0) { %>
    <div class="order-empty">
        <img class="img-responsive" src="/images/sad-face.png">
        <h4>Oops! It seems like you haven't ordered any drinks.</h4>
        <p><br></p>
        <div class="row">
            <div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6">
                <p><a class="btn btn-primary btn-lg" href="http://homebar.wishbeer.com">Start drinking now!</a></p>
            </div>
        </div>
    </div>
<% } else { %>
    <div class="table-head">
        <div class="row">
            <div class="col-sm-3">
                <h4>Location</h4>
            </div>
            <div class="col-sm-3">
                <h4>Amount</h4>
            </div>
            <div class="col-sm-3">
                <h4>Date</h4>
            </div>
        </div>
    </div>
    <div class="table-body">
        <% let month_list = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']%>
        <% for (var i=0;i<order_list.length;i++) { %>
            <div class="row">
                <div class="col-sm-3">
                    <p><span class="text-mobile">Location: </span>Home Bar 67</p>
                </div>
                <div class="col-sm-3">
                    <p><span class="text-mobile">Amount: </span>฿ <%=order_list[i].total%></p>
                </div>
                <div class="col-sm-3">
                    <% let order_date = new Date(order_list[i].createdAt); %>
                    <p><span class="text-mobile">Order date: </span><%=order_date.getDate() %> <%=month_list[order_date.getMonth()] %>, <%=order_date.getFullYear() %></p>
                </div>
                <div class="col-sm-3">
                    <p><a href="/order/<%=order_list[i].id%>">View</a></p>
                </div>
            </div>
            <hr>
        <% } %>
            <div class="row">
                <div class="col-sm-3">
                    <p><span class="text-mobile">Location: </span>Home Bar Thong Lor</p>
                </div>
                <div class="col-sm-3">
                    <p><span class="text-mobile">Amount: </span>฿ 3500</p>
                </div>
                <div class="col-sm-3">
                    <% let order_date = new Date(); %>
                    <p><span class="text-mobile">Order date: </span><%=order_date.getDate() %> <%=month_list[order_date.getMonth()] %>, <%=order_date.getFullYear() %></p>
                </div>
                <div class="col-sm-3">
                    <p><a href="">View</a></p>
                </div>
            </div>
            <hr>
    </div>
<% } %>