<div class="profile-image-area">
    <a href="#">
        <div class="profile-image">
            <img class="img-responsive" alt="Profile" src="/images/h_pro.png">
            <span>Edit <i class="fa fa-pencil"></i></span>
        </div>
    </a>
</div>
<form id="profile_form" method="post" action="/profile">
    <div class="row row-field">
        <div class="col-sm-3">
            <p class="form-label">Title</p>
        </div>
        <div class="col-sm-9">
            <p class="row">
                <span class="col-xs-4"><input type="radio" name="title" value="1" <% if (profile.title === 1) { %>checked<% } %>> Male</span>
                <span class="col-xs-4"><input type="radio" name="title" value="2" <% if (profile.title === 2) { %>checked<% } %>> Female</span>
            </p>
        </div>
    </div>
    <div class="row row-field">
        <div class="col-sm-3">
            <p>Firstname <span class="require">*</span></p>
        </div>
        <div class="col-sm-9">
            <p><input class="firstname_form field-form" type="text" placeholer="Firstname" value="<%=profile.firstname%>" required></p>
        </div>
    </div>
    <div class="row row-field">
        <div class="col-sm-3">
            <p>Lastname <span class="require">*</span></p>
        </div>
        <div class="col-sm-9">
            <p><input class="lastname_form field-form" type="text" placeholer="Lastname" value="<%=profile.lastname%>" required></p>
        </div>
    </div>
    <div class="row row-field">
        <div class="col-sm-3">
            <p>Email <span class="require">*</span></p>
        </div>
        <div class="col-sm-9">
            <p><input class="email_form field-form" type="text" placeholer="Email" value="<%=profile.email%>" required></p>
        </div>
    </div>
    <div class="row row-field">
        <div class="col-sm-3">
            <p>Phone <span class="require">*</span></p>
        </div>
        <div class="col-sm-9">
            <p><input class="phone_form field-form" type="text" placeholer="Phone" value="<%=profile.phone%>"></p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-8 col-sm-4">
            <p style="text-align: right;"><a href="/profile/password">Change your password</a></p>
            <p><br></p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-4 col-sm-4">
            <button class="btn btn-primary" type="submit">Save</button>
        </div>
    </div>
</form>

<% block('localScripts', '<script src="/js/profile.js?v=1.1"></script>') %>