<% block('localTitle', 'Register') %>
<% block('localStyles', '<link href="/styles/authen.css?v=1.1" rel="stylesheet">') %>

<div class="authen-area">
    <h1>Register</h1>
    <form id="register_form" method="post" action="/register">
        <p class="form-label"><span>Email:</span></p>
        <p><input class="field-form email_form" type="email" name="email" placeholder="Email" autofocus required></p>
        <p class="form-label"><span>Password:</span></p>
        <p><input class="field-form password_form" type="password" name="password" placeholder="Password" required></p>
        <p class="form-label"><span>Name:</span></p>
        <p><input class="field-form firstname_form" type="text" name="firstname" placeholder="Firstname" required></p>
        <p><input class="field-form lastname_form" type="text" name="lastname" placeholder="Lastname" required></p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
    </form>
    <br>
    <p style="margin-bottom: 0;">Or</p>
    <br>
    <p><a class="btn btn-fb btn-lg" href="#">Register by Facebook</a></p>
    <hr>
    <p>Already have account? <a href="/login">login here</a></p>
</div>
<% block('localScripts', '<script src="/js/authen.js?v=1.1"></script>') %>