<% block('localTitle', 'Reset your Password') %>
<% block('localStyles', '<link href="/styles/authen.css?v=1.1" rel="stylesheet">') %>

<div class="authen-area forget-password">
    <h1>Reset your password</h1>
    <% if (error) {%>
        <p>Sorry! Your session has expired! Please try again</p>
    <% } else { %>
        <form id="reset_form" method="post" action="/reset-password">
            <input class="email_form" type="hidden" name="email" value="<%=email%>">
            <input class="tkn_form" type="hidden" name="token" value="<%=token%>">
            <p class="form-label"><span>New password:</span></p>
            <p><input class="field-form new_pwd_form" type="password" name="new_pwd" placeholder="New password" required autofocus></p>
            <p class="form-label"><span>Confirm password:</span></p>
            <p><input class="field-form confirm_pwd_form" type="password" name="confirm_pwd" placeholder="Confirm password" required></p>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
        </form>
    <% } %>
</div>
<% block('localScripts', '<script src="/js/authen.js?v=1.1"></script>') %>