<div class="header-content">
    <div class="wrapper-yellow">
        <div class="yellow row">
            <div class="col-md-4 col-sm-3 col-xs-12">
                <a class="" href="#">
                    <img class="img-responsive profile-main" alt="Profile" src="/images/h_pro.png">
                </a>
            </div>
            <div class="col-md-8 col-sm-9 col-xs-12">
                <h2 class="profile_name"><%=profile.firstname%> <%=profile.lastname%></h2>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="coin">
                            <table class="tb-ref">
                                <tr>
                                    <td class="tb-ref-img">
                                        <img src="/images/coins.png" alt="coins" style="width:35px;margin:5px;">
                                    </td>
                                    <td class="tb-ref-txt">
                                        <h2 class="coin-no">12345</h2>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="point">
                            <table class="tb-ref">
                                <tr>
                                    <td class="tb-ref-img">
                                        <img src="/images/point.png" alt="coins" style="width:35px;margin:5px;">
                                    </td>
                                    <td class="tb-ref-txt">
                                        <h2 class="coin-no">321</h2>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="navigation">
            <div class="row text-center">
                <div class="col-md-6 col-xs-6">
                    <a href="/order" class="btn btn-lg btn-default btn_custom <% if (tab == 'order') { %>active<% } %>">Orders</a>
                </div>
                <div class="col-md-6 col-xs-6">
                    <a href="/profile" class="btn btn-lg btn-default btn_custom <% if (tab == 'account') { %>active<% } %>">My Account</a>
                </div>
            </div>
        </div>
    </div>
</div>