<nav class="navbar navbar-default navbar-custom">
    <div class="container-fluid text-center">
        <!-- mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">WISHBEER</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="profile">
                    <a class="navbar-profile" href="/">
                        <img alt="Profile" src="/images/h_pro.png" style="width:50px">
                    </a>
                    <ul class="desktop-nav">
                        <li>
                            <a href="/order">Orders</a>
                        </li>
                        <li>
                            <a href="/profile">My Account</a>
                        </li>
                        <li>
                            <a href="/logout">Logout</a>
                        </li>
                    </ul>
                </li>
                <li class="profile-mobile">
                    <a href="/order">Orders</a>
                </li>
                <li class="profile-mobile">
                    <a href="/profile">My Account</a>
                </li>
                <li class="profile-mobile">
                    <a href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>