<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile ⎮ <%- blocks.localTitle %></title>

    <link href="/styles/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/styles/custom_style.css?v=1.1" rel="stylesheet">
    <link href="/styles/custom_nonauthen.css?v=1.1" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amiko" rel="stylesheet">

    <!-- <script defer src="/assets/fonts/fontawesome-all.js"></script> -->

    <!-- Theme
    <link href="assets/css/material-bootstrap-wizard.css" rel="stylesheet" />
    <link rel="stylesheet" href="assets/css/material-dashboard.css"> -->
    <%- blocks.localStyles %>
</head>

<body>
    <div class="authen-cover">
        <nav class="navbar navbar-default navbar-custom">
            <div class="container-fluid text-center">
                <!-- mobile display -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">WISHBEER</a>
                </div>
            </div>
        </nav>
        <div class="container">
            <%- body %>
        </div>
    </div>


    <!-- <script src="assets/js/material-bootstrap-wizard.js"></script>
    <script src="assets/js/jquery.validate.min.js"></script> -->

    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <%- blocks.localScripts %>

</body>

</html>